.naranja {
    background-color: orange;
}

.azul {
    background-color: blue;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.violeta{
    background-color: violet;
}